@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5ac760;
}

button[type=submit]:disabled {
    background-color: #7dc280;
    cursor: initial;
}
.formCont {
    margin: 0 15%;
    font-family: 'Roboto';
    border-bottom: 1px solid #000;
}

form {
    margin: 50px 35%;
}

.form-group {
    margin-bottom: 20px;
}

.form-error {
    color: red;
}

h1 {
    text-align: center;
}

.remove-btn {
    background-color: red;
}

.remove-btn:hover {
    background-color: rgb(250, 108, 108);
}

.btn-cont {
    display: flex;
}

span {
    color: red;
}